@import "../../variables.scss";

.completed {
  width: 100%;
  min-height: 100vh;
  padding: 50px;

  .calendarContainer {
    height: 100%;
    width: 100%;
    margin-top: 15vh;
    border-radius: $border-radius;
    border: 2px solid $off-black;
    overflow: hidden;

    .calendarMonth {
      width: 100%;
      height: 30%;
      display: flex;

      button {
        width: 10%;
        background-color: $off-black-trans;
        border: none;
        font-size: 40px;
        color: $off-white;
        cursor: pointer;
        border-left: 1px solid $off-black;
        &:hover {
          background-color: $off-black;
        }
        &:first-child {
          border-left: none;
          border-right: 1px solid $off-black;
        }
      }

      h2 {
        background-color: $off-black-trans;
        width: 80%;
        height: 100%;
        font-size: 50px;
        text-align: center;
        color: $off-white;
        text-transform: uppercase;
      }
    }

    .calendarYear {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-grow: 1 1 1;
      background-color: $off-white;
      font-size: 20px;
      border: 1px solid $off-black;
      border-bottom: 1px solid $off-black;
      p {
        padding: $base-spacing;
        flex-grow: 1;
        text-align: center;
        border-left: 1px solid $off-black;
        border-right: 1px solid $off-black;
        height: 100%;
      }
      button {
        flex-grow: 1;
        border: none;
        background-color: $off-black-trans;
      }
      .completedHighLight,
      .todoHighLight {
        background-color: $primary-blue;
        border: none;
      }
    }

    .calendarDates {
      overflow: hidden;
      background-color: $off-black-trans;
      width: 100%;
      height: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      p {
        background-color: $off-white;
        border: .5px solid $off-black;
        padding: $base-spacing;
        font-size: 14px;
      }
      div {
        border: .5px solid $off-black;
        background-color: $off-white;
        height: 100%;

        p {
          border: none;
          text-transform: uppercase;
          padding: $base-spacing;

          &:first-child {
            padding-bottom: 0;
          }
        }

        .completedTitle {
          color: $secondary-green;
          background-color: $primary-green;
          border-radius: $border-radius;
          margin: $base-spacing/2 $base-spacing;
          font-weight: bold;
          
        }
      }
    }
  }
}
